<template>
  <div class="cate">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品参数</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" style="margin-top:20px" @click="addCli">添加分类</el-button>
    <el-table
      :data="carList"
      style="width: 100%"
      row-key="cat_id"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
      height="calc(100vh - 250px)"
    >
      <el-table-column prop="cat_name" label="分类名称"></el-table-column>
      <el-table-column label="级别" width="180">
        <template slot-scope="props">
          <span>{{props.row.cat_level | listFil}}</span>
        </template>
      </el-table-column>
      <el-table-column label="是否有效">
        <template slot-scope="props">
          <span>{{props.row.cat_deleted | listFilBoo}}</span>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="150">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="queryGoods(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="deleteGoods(scope.row.cat_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagenum"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      style="margin-top:15px"
    ></el-pagination>
    <el-dialog title="添加商品分类" :visible.sync="dialogFormVisible">
      <el-form :model="addForm">
        <el-form-item label="分类名称" :label-width="'100px'">
          <el-input v-model="addForm.val"></el-input>
        </el-form-item>
        <el-form-item label="分类" :label-width="'100px'">
          <el-cascader
            v-model="addForm.ind"
            :options="formOptionsList"
            :props="{ expandTrigger: 'hover',value:'cat_id', label:'cat_name' }"
            @change="handleChange"
          ></el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="comAdd">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="编辑商品分类" :visible.sync="dialogTionBoo">
      <el-form :model="dialogTion">
        <el-form-item label="分类名称" :label-width="'100px'">
          <el-input v-model="dialogTion.cat_name"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogTionBoo = false">取 消</el-button>
        <el-button type="primary" @click="dialogTionCli">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  getCategoriesList,
  addCategories,
  queryCategories,
  deleteCategories
} from "@/http/apis";
export default {
  data() {
    return {
      carList: [],
      pagenum: 1,
      pagesize: 5,
      total: 0,
      dialogFormVisible: false,
      addForm: {
        val: "",
        ind: []
      },
      formOptionsList: [],
      addObj: {
        cat_level: null,
        cat_name: null,
        cat_pid: null
      },
      dialogTion: {
        cat_id: null,
        cat_name: ""
      },
      dialogTionBoo: false
    };
  },
  methods: {
    //获取全部列表
    async getCategoriesList() {
      const arr = await getCategoriesList({
        pagenum: this.pagenum,
        pagesize: this.pagesize,
        type: 3
      });
      this.carList = arr.result;
      this.total = arr.total;
    },
    //获取二层列表
    async getFormOptions() {
      const arr = await getCategoriesList({
        type: 2
      });
      this.formOptionsList = arr;
    },
    handleSizeChange(val) {
      this.pagesize = val;
      this.pagenum = 1;
      this.getCategoriesList();
    },
    handleCurrentChange(val) {
      this.pagenum = val;
      this.getCategoriesList();
    },
    //添加
    handleChange(value) {
      this.addObj.cat_pid = value[value.length - 1];
      this.addObj.cat_level = value.length;
    },
    addCli() {
      this.addForm = {
        val: "",
        ind: []
      };
      this.dialogFormVisible = true;
    },
    async comAdd() {
      this.addObj.cat_name = this.addForm.val;
      await addCategories(this.addObj);
      await this.getCategoriesList();
      await this.getFormOptions();
      this.dialogFormVisible = false;
    },
    //编辑
    async dialogTionCli() {
      await queryCategories(this.dialogTion);
      await this.getCategoriesList();
      this.dialogTionBoo = false;
    },
    queryGoods(data) {
      this.dialogTion.cat_id = data.cat_id;
      this.dialogTion.cat_name = data.cat_name;
      this.dialogTionBoo = true;
    },
    async deleteCategories(id){
        await deleteCategories(id)
        await this.getCategoriesList()
    },
    async deleteGoods(data) {
      this.$confirm("此操作将永久删除分类", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteCategories(data)
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  },
  filters: {
    listFil(sty) {
      if (sty == 0) {
        return "一级";
      } else if (sty == 1) {
        return "二级";
      } else if (sty == 2) {
        return "三级";
      }
    },
    listFilBoo(boo) {
      if (boo) {
        return "无效";
      } else {
        return "有效";
      }
    }
  },
  created() {
    this.getCategoriesList();
    this.getFormOptions();
  }
};
</script>

<style lang="scss" scoped>
.cate {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
}
</style>