<template>
  <div class="goods">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form :inline="true" class="demo-form-inline" style="margin-top:15px;" v-if="showBoo==0">
      <el-form-item>
        <el-input style="width:350px" v-model="query">
          <el-button slot="append" icon="el-icon-search" @click="sousUser"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="showBoo=1">添加商品</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="tableData.goods"
      height="calc(100vh - 270px)"
      border
      style="width: 100%"
      v-if="showBoo==0"
    >
      <el-table-column type="index" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格（元）" width="120"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量" width="80"></el-table-column>
      <el-table-column label="创建日期" width="120">
        <template slot-scope="scope">{{scope.row.add_time | dealDate}}</template>
      </el-table-column>
      <el-table-column label="操作" width="120">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="queryGoods(scope.row.goods_id)"
          ></el-button>
          <el-button type="danger" icon="el-icon-delete" circle size="small" @click="deleteGoods(scope.row.goods_id)"></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total"
      style="margin-top:20px"
      v-if="showBoo==0"
    ></el-pagination>
    <div v-if="showBoo==1">
      <el-alert title="添加商品" type="info" center show-icon style="margin-top:20px" :closable="false"></el-alert>
      <el-button type="text" style="float:right;margin-top:25px" @click="retuens">返回</el-button>
      <el-steps :active="active-0" finish-status="success" align-center style="margin-top:10px">
        <el-step title="基本信息"></el-step>
        <el-step title="商品参数"></el-step>
        <el-step title="商品属性"></el-step>
        <el-step title="商品图片"></el-step>
        <el-step title="商品内容"></el-step>
      </el-steps>
      <template>
        <el-tabs
          :before-leave="beforeLeave"
          v-model="active"
          tab-position="left"
          style="height: auto;margin-top:15px"
        >
          <el-tab-pane label="基本信息">
            <el-form :rules="formList" :model="formLis" ref="formTab">
              <el-form-item label="商品名称" prop="goods_name">
                <el-input v-model="formLis.goods_name"></el-input>
              </el-form-item>
              <el-form-item label="商品价格" prop="goods_price">
                <el-input v-model="formLis.goods_price"></el-input>
              </el-form-item>
              <el-form-item label="商品重量" prop="goods_weight">
                <el-input v-model="formLis.goods_weight"></el-input>
              </el-form-item>
              <el-form-item label="商品数量" prop="goods_number">
                <el-input v-model="formLis.goods_number"></el-input>
              </el-form-item>
              <el-form-item label="商品分类">
                <el-cascader
                  v-model="value"
                  :options="categoriesList"
                  :props="{ expandTrigger: 'hover', value:'cat_id', label:'cat_name'}"
                  @change="cascaderClick"
                ></el-cascader>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="商品参数">
            <el-form label-position="top">
              <el-form-item
                v-for="(item,index) in formLis.attrs"
                :key="index"
                :label="item.attr_name"
              >
                <el-checkbox-group v-model="attrs[index].attr_vals" size="small">
                  <el-checkbox
                    border
                    v-for="(_item, _index) in fill(item.attr_vals)"
                    :label="_item"
                    :key="_index"
                  ></el-checkbox>
                </el-checkbox-group>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="商品属性">
            <el-form style="max-height:calc(100vh - 300px); overflow-y:scroll;">
              <el-form-item
                :label="item.attr_name"
                v-for="(item,index) in formLis._attrs"
                :key="index"
              >
                <el-input v-model="item.attr_vals"></el-input>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="商品图片">
            <el-upload
              class="upload-demo"
              :headers="headers"
              :action="baseURL+'upload'"
              :on-success="handleSuc"
              :on-remove="handleRemove"
              list-type="picture"
            >
              <el-button size="small" type="primary">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="商品内容">
            <el-button @click="addGoods">添加商品</el-button>
            <quill-editor v-model="formLis.goods_introduce" ref="myQuillEditor"></quill-editor>
          </el-tab-pane>
        </el-tabs>
      </template>
    </div>
    <div v-if="showBoo==2">
      <el-alert title="编辑商品" type="info" center show-icon style="margin-top:20px" :closable="false"></el-alert>
      <el-button type="text" style="float:right;margin-top:25px" @click="retuens">返回</el-button>
      <el-steps :active="active-0" finish-status="success" align-center style="margin-top:10px">
        <el-step title="基本信息"></el-step>
        <el-step title="商品参数"></el-step>
        <el-step title="商品属性"></el-step>
        <el-step title="商品图片"></el-step>
        <el-step title="商品内容"></el-step>
      </el-steps>
      <template>
        <el-tabs
          :before-leave="beforeLeave"
          v-model="active"
          tab-position="left"
          style="height: auto;margin-top:15px"
        >
          <el-tab-pane label="基本信息">
            <el-form :rules="formList" :model="formLis" ref="formTab">
              <el-form-item label="商品名称" prop="goods_name">
                <el-input v-model="formLis.goods_name"></el-input>
              </el-form-item>
              <el-form-item label="商品价格" prop="goods_price">
                <el-input v-model="formLis.goods_price"></el-input>
              </el-form-item>
              <el-form-item label="商品重量" prop="goods_weight">
                <el-input v-model="formLis.goods_weight"></el-input>
              </el-form-item>
              <el-form-item label="商品数量" prop="goods_number">
                <el-input v-model="formLis.goods_number"></el-input>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="商品参数">
            <el-form label-position="top">
              <el-form-item
                v-for="(item,index) in formLis.attrs"
                :key="index"
                :label="item.attr_name"
              >
                <el-checkbox-group v-model="attrs[index].attr_vals" size="small">
                  <el-checkbox
                    border
                    v-for="(_item, _index) in fill(item.attr_vals)"
                    :label="_item"
                    :key="_index"
                  ></el-checkbox>
                </el-checkbox-group>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="商品属性">
            <el-form style="max-height:calc(100vh - 300px); overflow-y:scroll;">
              <el-form-item
                :label="item.attr_name"
                v-for="(item,index) in formLis._attrs"
                :key="index"
              >
                <el-input v-model="item.attr_vals"></el-input>
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane label="商品图片">
            <el-upload
              class="upload-demo"
              :headers="headers"
              :action="baseURL+'upload'"
              :on-success="handleSuc"
              :on-remove="handleRemove"
              list-type="picture"
            >
              <el-button size="small" type="primary">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
          </el-tab-pane>
          <el-tab-pane label="商品内容">
            <el-button @click="editGoods">保存编辑</el-button>
            <quill-editor v-model="formLis.goods_introduce" ref="myQuillEditor"></quill-editor>
          </el-tab-pane>
        </el-tabs>
      </template>
    </div>
  </div>
</template>

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import {
  getGoods,
  getCategoriesList,
  getAttributesList,
  addGoods,
  queryGoods,
  editGoods,
  deleteGoods
} from "@/http/apis";
import { _baseURL } from "@/http";
export default {
  data() {
    return {
      tableData: [],
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
      query: "",
      showBoo: 0,
      active: "0",
      value: [],
      categoriesList: [],
      formLis: {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        goods_cat: [],
        attrs: [],
        _attrs: [],
        pics: []
      },
      attrs: [],
      formList: {
        goods_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" }
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" }
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" }
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" }
        ]
      },
      headers: {
        Authorization: this.$store.state.token
      },
      baseURL: _baseURL
    };
  },
  components: {
    quillEditor
  },
  methods: {
    //获取商品列表
    async getGoods() {
      const arr = await getGoods(this.params);
      this.tableData = arr;
    },
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.params.pagenum=1
      this.getGoods();
      
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getGoods();
    },
    sousUser() {
      this.params.query = this.query;
      this.params.pagenum = 1;
      this.getGoods();
    },
    //获取分类列表
    async getCategoriesList() {
      const arr = await getCategoriesList();
      this.categoriesList = arr;
    },
    async cascaderClick(val) {
      this.formLis.goods_cat = val;
      const arr = await getAttributesList(val[val.length - 1]);
      this.formLis.attrs = arr;
      this.attrs = JSON.parse(JSON.stringify(arr));
      for (let i = 0; i < this.attrs.length; i++) {
        this.attrs[i].attr_vals = this.attrs[i].attr_vals.split(",");
      }
      const arr2 = await getAttributesList(val[val.length - 1], "only");
      this.formLis._attrs = arr2;
    },
    fill(arr) {
      return arr.split(",");
    },
    handleCheck(index, _index) {
      let arr = this.formLis.attrs[index].attr_vals.split(",");
      arr.splice(_index, 1);
      this.formLis.attrs[index].attr_vals = arr.join();
    },
    //判断表单
    beforeLeave(activeName, oldActiveName) {
      let boo;
      if (oldActiveName == "0") {
        this.$refs["formTab"].validate(valid => {
          if (valid) {
            if (!this.showBoo == 2) {
              if (this.value.length <= 2) {
                this.$message({
                  type: "error",
                  message: "请选择三级分类"
                });
                boo = false;
              }
            }
            boo = true;
          } else {
            boo = false;
          }
        });
      }
      return boo;
    },
    //上传钩子
    handleSuc(val) {
      const {
        data: { tmp_path }
      } = val;
      this.formLis.pics.push({
        pic: tmp_path
      });
    },
    handleRemove(val) {
      const index = this.formLis.pics.findIndex(item => {
        return item.pic == val.response.data.tmp_path;
      });
      this.formLis.pics.splice(index, 1);
    },
    // 添加商品
    async addGoods() {
      const arr = JSON.parse(JSON.stringify(this.attrs));
      for (let i = 0; i < arr.length; i++) {
        this.formLis.attrs[i].attr_vals = arr[i].attr_vals.join();
      }
      const arr2 = JSON.parse(JSON.stringify(this.formLis));
      const data = Object.assign(arr2, {
        goods_cat: arr2.goods_cat.join(),
        attrs: [...arr2.attrs, ...arr2._attrs]
      });
      await addGoods(data);
      await this.getGoods();
      this.showBoo = 0;
      this.active = "0";
      this.formLis = {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        goods_cat: [],
        attrs: [],
        _attrs: [],
        pics: []
      };
      this.attrs = [];
    },
    //查询商品
    async queryGoods(id) {
      const arr = await queryGoods(id);
      const data = Object.assign(this.formLis, arr, {
        attrs: arr.attrs.filter(item => item.attr_sel == "many"),
        _attrs: arr.attrs.filter(item => item.attr_sel == "only")
      });
      const { attrs } = data;
      this.attrs = JSON.parse(JSON.stringify(attrs));
      this.attrs.forEach(item => (item.attr_vals = item.attr_vals.split(",")));
      this.showBoo = 2;
    },
    async editGoods() {
      const arr = JSON.parse(JSON.stringify(this.attrs));
      for (let i = 0; i < arr.length; i++) {
        this.formLis.attrs[i].attr_vals = arr[i].attr_vals.join();
      }
      const arr2 = JSON.parse(JSON.stringify(this.formLis));
      const data = Object.assign(arr2, {
        attrs: [...arr2.attrs, ...arr2._attrs]
      });
      const {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        goods_cat,
        attrs
      } = data;
      const { goods_id } = data;
      await editGoods(goods_id, {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        goods_cat,
        attrs
      });
      this.showBoo = 0;
      this.active = "0";
      this.formLis = {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        goods_cat: [],
        attrs: [],
        _attrs: [],
        pics: []
      };
      this.attrs = [];
    },
    retuens() {
      this.active = "0";
      this.formLis = {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        goods_cat: [],
        attrs: [],
        _attrs: [],
        pics: []
      };
      this.attrs = [];
      this.showBoo = 0;
    },
    async deleteGoods(id){
      await deleteGoods(id)
      await this.getGoods()
    }
  },
  created() {
    this.getGoods();
    this.getCategoriesList();
  }
};
</script>

<style lang="scss" scoped>
.goods {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
}
</style>