<template>
  <div class="params">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>分类参数</el-breadcrumb-item>
    </el-breadcrumb>
    <el-alert
      style="margin-top:20px"
      title="注意:只允许为第三级分类设置参数"
      type="warning"
      show-icon
      :closable="false"
    ></el-alert>
    <el-form>
      <el-form-item label="请选择商品分类">
        <el-cascader
          v-model="value"
          :options="options"
          :props="{ expandTrigger: 'hover',value:'cat_id', label:'cat_name' }"
          @change="handleChange"
        ></el-cascader>
      </el-form-item>
    </el-form>
    <el-tabs @tab-click="inst">
      <el-tab-pane label="动态参数">
        <el-button type="primary" @click="manyAdd" :disabled="bols">添加动态参数</el-button>
        <el-table ref="down" @expand-change="toost" :data="manyData" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <el-tag
                :key="index"
                v-for="(tag,index) in splitFil(props.row.attr_vals)"
                closable
                :disable-transitions="false"
                @close="handleClose(tag,props.row)"
              >{{tag}}</el-tag>
              <el-input
                class="input-new-tag"
                v-if="inputVisible"
                v-model="inputValue"
                ref="saveTagInput"
                size="small"
                @keyup.enter.native="handleInputConfirm(props.row)"
                @blur="handleInputConfirm(props.row)"
              ></el-input>
              <el-button
                v-else
                class="button-new-tag"
                size="small"
                @click="inputVisible = true;"
              >+ New Tag</el-button>
            </template>
          </el-table-column>
          <el-table-column prop="attr_name" label="日期" width="180"></el-table-column>
          <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" type="primary" icon="el-icon-edit" plain></el-button>
              <el-button @click="deleteAtt(scope.row)" type="danger" icon="el-icon-delete" plain></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="静态参数">
        <el-button type="primary" @click="onlyAdd" :disabled="bols">添加静态参数</el-button>
        <el-table height="calc(100vh - 370px)" :data="onlyData" stripe style="width: 100%">
          <el-table-column type="index" width="50" label="#"></el-table-column>
          <el-table-column prop="attr_name" label="属性名称" width="180"></el-table-column>
          <el-table-column prop="attr_vals" label="属性值" width="180"></el-table-column>
          <el-table-column fixed="right" label="操作">
            <template slot-scope="scope">
              <el-button @click="handleClick(scope.row)" type="primary" icon="el-icon-edit" plain></el-button>
              <el-button @click="deleteAtt(scope.row)" type="danger" icon="el-icon-delete" plain></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="添加参数" :visible.sync="dialogBoo" width="70%">
      <el-form>
        <el-form-item label="参数名称">
          <el-input v-model="dialogArr.attr_name"></el-input>
        </el-form-item>
        <el-form-item label="参数选项">
          <el-input
            v-model="dialogArr.attr_vals"
            placeholder="选项用“,”英文逗号隔开"
            v-if="dialogArr.attr_sel == 'many'"
          ></el-input>
          <el-input v-model="dialogArr.attr_vals" v-if="dialogArr.attr_sel == 'only'"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelCli">取 消</el-button>
        <el-button type="primary" @click="addAttributes">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑参数" :visible.sync="dialogBoos" width="70%">
      <el-form>
        <el-form-item label="参数名称">
          <el-input v-model="dialogArr.attr_name"></el-input>
        </el-form-item>
        <el-form-item label="参数选项">
          <el-input
            v-model="dialogArr.attr_vals"
            placeholder="选项用“,”英文逗号隔开"
            v-if="dialogArr.attr_sel == 'many'"
          ></el-input>
          <el-input v-model="dialogArr.attr_vals" v-if="dialogArr.attr_sel == 'only'"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelCli">取 消</el-button>
        <el-button type="primary" @click="editAttrlis">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getCategoriesList,
  getAttributesList,
  editAttributes,
  deleteAttributes,
  addAttributes
} from "@/http/apis";
export default {
  data() {
    return {
      value: [],
      options: [],
      manyData: [],
      onlyData: [],

      dynamicTags: ["标签一", "标签二", "标签三"],
      inputVisible: false,
      inputValue: "",
      dialogBoo: false,
      dialogBoos: false,
      dialogArr: {
        attr_name: "",
        attr_vals: "",
        attr_sel: "many"
      }
    };
  },
  computed:{
    bols(){
      if(this.value.length>=3){
        return false
      }else{
        return true
      }
    }
  },
  methods: {
    //获取参数列表
    async getCategoriesList() {
      const arr = await getCategoriesList();
      this.options = arr;
    },
    handleChange() {
      this.getAttributesList();
    },
    //获取动态参数
    async getAttributesList() {
      const arr = await getAttributesList(
        this.value[this.value.length - 1],
        "many"
      );
      this.manyData = arr;
      const arr2 = await getAttributesList(
        this.value[this.value.length - 1],
        "only"
      );
      this.onlyData = arr2;
    },
    //编辑提交参数
    async editAttributes(id, attrid, data) {
      await editAttributes(id, attrid, data);
    },
    //字符串处理
    splitFil(res) {
      return res.split(",");
    },
    //删除子参数
    async handleClose(tag, data) {
      const arr = data.attr_vals.split(",");
      arr.splice(arr.indexOf(tag), 1);
      data.attr_vals = arr.join();
      await this.editAttributes(data.cat_id, data.attr_id, data);
    },
    //删除参数
    async deleteAttributes(data) {
      await deleteAttributes(data.cat_id, data.attr_id);
      await this.getAttributesList();
    },
    deleteAtt(data) {
      this.$confirm("此操作将永久删除该参数", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteAttributes(data);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //失去焦点添加参数
    async handleInputConfirm(data) {
      let inputValue = this.inputValue;
      if (inputValue) {
        const arr = data.attr_vals.split(",");
        arr.push(inputValue);
        data.attr_vals = arr.join();
        await this.editAttributes(data.cat_id, data.attr_id, data);
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    //判断是否选择参数
    inst() {
      if (this.value.length <= 2) {
        this.$message({
          message: "请选择三级分类",
          type: "warning"
        });
      }
    },
    //添加参数
    async addAttributes() {
      if (this.value.length <= 2) {
        this.$message({
          message: "请选择三级分类",
          type: "warning"
        });
      } else {
        if (
          !this.dialogArr.attr_name == "" &&
          !this.dialogArr.attr_vals == ""
        ) {
          await addAttributes(
            this.value[this.value.length - 1],
            this.dialogArr
          );
          await this.getAttributesList();
          this.dialogArr = {
            attr_name: "",
            attr_vals: "",
            attr_sel: ""
          };
          this.dialogBoo = false;
        }
      }
    },
    //动态添加
    manyAdd() {
      if (this.value.length <= 2) {
        this.$message({
          message: "请选择三级分类",
          type: "warning"
        });
      } else {
        this.dialogArr = {
          attr_name: "",
          attr_vals: "",
          attr_sel: ""
        };
        this.dialogArr.attr_sel = "many";
        this.dialogBoo = true;
      }
    },
    onlyAdd() {
      if (this.value.length <= 2) {
        this.$message({
          message: "请选择三级分类",
          type: "warning"
        });
      } else {
        this.dialogArr = {
          attr_name: "",
          attr_vals: "",
          attr_sel: ""
        };
        this.dialogArr.attr_sel = "only";
        this.dialogBoo = true;
      }
    },
    //编辑参数
    handleClick(row) {
      this.dialogArr = row;
      this.dialogBoos = true;
    },
    async editAttrlis() {
      await this.editAttributes(
        this.dialogArr.cat_id,
        this.dialogArr.attr_id,
        this.dialogArr
      );
      await this.getAttributesList();
      this.dialogBoos = false;
    },
    async cancelCli() {
      await this.getAttributesList();
      this.dialogBoo = false;
      this.dialogBoos = false;
    },
    toost(row, src) {
      if (src.length > 1) {
        this.manyData.map(item => {
          this.$refs.down.toggleRowExpansion(item, false);
        });
        this.$refs.down.toggleRowExpansion(row);
      }
    }
  },
  created() {
    this.getCategoriesList();
  }
};
</script>

<style lang="scss" scoped>
.params {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
</style>