<template>
  <div class="rights">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table
      :data="listData"
      height="calc(100% - 35px)"
      border
      style="width: 100%;margin-top:20px"
    >
      <el-table-column label="#" type="index" width="50"></el-table-column>
      <el-table-column prop="authName" label="权限名称" width="180"></el-table-column>
      <el-table-column prop="path" label="路径" width="180"></el-table-column>
      <el-table-column label="层级">
        <template slot-scope="scope">
          <span>{{scope.row.level | listFil}}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getRigets } from "@/http/apis";
export default {
  data() {
    return {
      listData: []
    };
  },
  methods: {
    async getRigets() {
      const arr = await getRigets("list");
      this.listData = arr;
    }
  },
  filters: {
    listFil(sty) {
      if (sty == 0) {
        return "一级";
      } else if (sty == 1) {
        return "二级";
      } else if (sty == 2) {
        return "三级";
      }
    }
  },
  created() {
    this.getRigets();
  }
};
</script>

<style lang="scss" scoped>
.rights {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  height: calc(100% - 25px);
}
</style>