<template>
  <div class="roles">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" style="margin-top:15px" @click="editVisible=true">添加角色</el-button>
    <el-table :data="rolesData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-row v-for="(item,index) in props.row.children" :key="index">
            <el-col :span="4">
              <el-tag closable @close="deleteRights(props.row.id,item.id)" :disable-transitions="false">{{item.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="(_item,_index) in item.children" :key="_index">
                <el-col :span="6">
                  <el-tag
                    closable
                    type="success"
                    @close="deleteRights(props.row.id,_item.id)"
                  >{{_item.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    closable
                    type="warning"
                    v-for="(__item,__index) in _item.children"
                    :key="__index"
                    @close="deleteRights(props.row.id,__item.id)"
                  >{{__item.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column label="角色名称" prop="roleName"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click.native="editClick(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="handleDelete(scope.row)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="small"
            @click.native="handleDistri(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="添加角色" :visible.sync="editVisible" width="600px">
      <el-form :model="roleForm" label-width="120px" ref="roleForm" :rules="roleFromRules">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="roleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="roleForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleRoles">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="editRig" width="600px">
      <el-form :model="editForm" label-width="120px" ref="editForm" :rules="editFromRules">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="editForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="editForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editRig = false">取 消</el-button>
        <el-button type="primary" @click="editRoles">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="权限管理" :visible.sync="rigVisible" width="600px">
      <el-tree
        :data="rigList"
        show-checkbox
        node-key="id"
        :props="defaultProps"
        default-expand-all
        ref="tree"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="rigVisible = false">取 消</el-button>
        <el-button type="primary" @click="editRightList">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  addRoles,
  getRolesList,
  deleteRights,
  editRights,
  getRigets,
  setRigets,
  deleteRigets
} from "@/http/apis";
export default {
  data() {
    return {
      rolesData: [],
      editVisible: false,
      roleForm: {
        roleName: "",
        roleDesc: ""
      },
      roleFromRules: {
        roleName: [
          {
            required: true,
            message: "请输入角色名称",
            trigger: "blur"
          }
        ],
        roleDesc: [
          {
            required: true,
            message: "角色描述不能为空",
            trigger: "blur"
          }
        ]
      },
      editRig: false,
      editForm: {
        roleName: "",
        roleDesc: "",
        id: ""
      },
      editFromRules: {
        roleName: [
          {
            required: true,
            message: "请输入角色名称",
            trigger: "blur"
          }
        ],
        roleDesc: []
      },
      rigVisible: false,
      rigList: [],
      defaultProps: {
        children: "children",
        label: "authName"
      },
      rightSet: {
        id: "",
        rids: []
      }
    };
  },
  methods: {
    async addRoles() {
      await addRoles(this.roleForm);
      await this.getRolesList()
    },
    async handleRoles() {
      this.editVisible = false;
      await this.addRoles();
      this.$refs.roleForm.resetFields();
    },
    async getRolesList() {
      const res = await getRolesList();
      this.rolesData = res;
    },
    async deleteRights(roleId, rightId) {
      await deleteRights(roleId, rightId);
      await this.getRolesList();
    },
    async editRights(id) {
      await editRights(id, {
        roleName: this.editForm.roleName,
        roleDesc: this.editForm.roleDesc
      });
    },
    editClick(data) {
      this.editRig = true;
      this.editForm.roleName = data.roleName;
      this.editForm.roleDesc = data.roleDesc;
      this.editForm.id = data.id;
    },
    async editRoles() {
      await this.editRights(this.editForm.id);
      await this.getRolesList();
      this.editRig = false;
    },
    async getRigets() {
      const res = await getRigets();
      this.rigList = res;
    },
    handleDistri(data) {
      let arra = [];
      function fill(arr) {
        for (let i = 0; i < arr.length; i++) {
          arra.push(arr[i].id);
          if (arr[i].children) {
            fill(arr[i].children);
          }
        }
      }
      fill(data.children);
      this.rigVisible = true;
      //第一次ref获取不到
      this.$nextTick(() => {
        this.$refs.tree.setCheckedKeys(arra);
      });
      this.rightSet.id = data.id;
      this.rightSet.rids = arra;
    },
    async setRigets(rids) {
      await setRigets(this.rightSet.id, rids);
    },
    async editRightList() {
      const arr = this.$refs.tree.getCheckedKeys().toString();
      await this.setRigets(arr);
      this.rigVisible = false;
      await this.getRolesList();
    },
    //删除角色
    async deleteRigets(id) {
      await deleteRigets(id);
      await this.getRolesList();
    },
    handleDelete(data) {
      this.$confirm("此操作将永久删除该角色?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteRigets(data.id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    }
  },
  created() {
    this.getRolesList();
    this.getRigets();
  }
};
</script>

<style lang="scss" scoped>
.roles {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
}
</style>