<template>
  <div class="index">
    <el-container style="height: 100vh;">
      <el-aside width="auto" style="background-color: rgb(0, 21, 41);">
        <h1 class="logo">后台管理</h1>
        <el-menu
          style="background-color: rgb(0, 21, 41); margin-top:60px"
          router
          :default-active="$route.path"
          :collapse="coll"
          unique-opened
        >
          <el-submenu :index="''+index" v-for="(item,index) in menu" :key="index">
            <template slot="title">
              <i
                :class="{'el-icon-s-grid':item.path=='users','el-icon-message':item.path=='rights','el-icon-s-comment':item.path=='goods','el-icon-camera':item.path=='orders','el-icon-picture-outline-round':item.path=='reports'}"
              ></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <el-menu-item
              v-for="(_item,_index) in item.children"
              :key="_index"
              :index="'/index/'+_item.path"
            >{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-button
            type="text"
            style="float:left;margin-top:10px"
            class="el-icon-s-fold"
            @click="colls"
          ></el-button>
          <i class="el-icon-setting" style="margin-right: 15px"></i>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
          </el-dropdown-menu>
          <span>{{$store.state.username}}</span>
        </el-header>

        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import { getMenus } from "@/http/apis";
export default {
  data() {
    return {
      menu: [],
      coll: true
    };
  },
  methods: {
    logOut() {
      this.$store.commit("initState");
      this.$router.push({
        name: "login"
      });
    },
    colls() {
      this.coll = !this.coll;
    }
  },
  created() {
    getMenus().then(res => {
      this.menu = res;
    });
  }
};
</script>

<style lang="scss">
.el-header {
  background-color: #fff;
  color: #333;
  line-height: 60px;
  border-bottom: 1px solid #eee;
}

.el-aside {
  color: #333;
  position: relative;
  overflow: hidden;
}
.index .el-submenu .el-menu {
  background-color: rgb(0, 21, 41);
}
.el-menu{
  width: 200px;
}
.el-menu--collapse {
    width: 64px;
}
.index {
  .el-submenu [class^=el-icon-]{
    margin-right: 20px;
  }
  .el-menu {
    overflow: hidden;
  }
  .el-submenu__title{
    width: 200px;
  }
  .el-submenu__title {
    background-color: rgb(0, 21, 41);
    color: rgb(153, 153, 153);
  }
  .el-submenu .el-menu-item {
    background-color: rgb(0, 21, 41);
    color: rgb(153, 153, 153);
  }
  .el-menu-item.is-active {
    color: #fff;
  }
  .el-menu {
    border: 0;
  }
  .el-main {
    background: #eee;
  }

  .logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
}
</style>