<template>
  <div class="orders">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>订单管理</el-breadcrumb-item>
      <el-breadcrumb-item>订单列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table
      :data="ordersFormList"
      style="width: 100%;margin-top:20px;"
      border
      height="calc(100vh - 210px)"
    >
      <el-table-column type="index" label="#" width="50"></el-table-column>
      <el-table-column prop="order_number" label="订单编号"></el-table-column>
      <el-table-column prop="order_price" label="订单价格" width="120"></el-table-column>
      <el-table-column label="支付状态" width="120">
        <template slot-scope="scope">
          <el-tag type="success" v-if="scope.row.pay_status=='1'" style="margin-left:15px;">已付款</el-tag>
          <el-tag type="danger" v-if="scope.row.pay_status=='0'" style="margin-left:15px;">未付款</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_send" label="是否发货" width="120"></el-table-column>
      <el-table-column label="下单时间">
        <template slot-scope="scope">
          <span>{{scope.row.create_time | dealDate}}</span>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="70">
        <template slot-scope="scope">
          <el-button size="small" @click="handleClick(scope.row)" type="primary" icon="el-icon-edit" circle></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      style="margin-top:15px"
    ></el-pagination>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="70%">
      <el-form ref="form" :model="putForm" label-width="120px">
        <el-form-item label="订单是否发货：">
          <el-radio v-model="putForm.is_send" label="否">未发货</el-radio>
          <el-radio v-model="putForm.is_send" label="是">已发货</el-radio>
        </el-form-item>
        <el-form-item label="订单支付：">
          <el-radio v-model="putForm.order_pay" label="0">未支付</el-radio>
          <el-radio v-model="putForm.order_pay" label="1">支付宝</el-radio>
          <el-radio v-model="putForm.order_pay" label="2">微信</el-radio>
          <el-radio v-model="putForm.order_pay" label="3">银行卡</el-radio>
        </el-form-item>
        <el-form-item label="支付状态：">
          <el-radio v-model="putForm.pay_status" label="0">未付款</el-radio>
          <el-radio v-model="putForm.pay_status" label="1">已付款</el-radio>
        </el-form-item>
        <el-form-item label="订单价格：">
          <el-input v-model="putForm.order_price"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="putOrders">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getOrders,putOrders } from "@/http/apis";
export default {
  data() {
    return {
      ordersFormList: [],
      pagenum: 1,
      pagesize: 10,
      total: null,
      putForm: {
        id: null,
        pay_status: '0',
        order_pay: "0",
        is_send: "否",
        order_price: null,
        order_number: null,
      },
      dialogVisible: false
    };
  },
  methods: {
    //获取列表内容
    async getOrders() {
      const arr = await getOrders({
        pagesize: this.pagesize,
        pagenum: this.pagenum
      });
      this.ordersFormList = arr.goods;
      this.total = arr.total;
    },
    handleSizeChange(val) {
      this.pagenum = 1;
      this.pagesize = val;
      this.getOrders();
    },
    handleCurrentChange(val) {
      this.pagenum = val;
      this.getOrders();
    },
    handleClick(data) {
        
      this.putForm.id=data.order_id
      this.putForm.is_send=data.is_send
      this.putForm.order_pay=data.order_pay
      this.putForm.order_price=data.order_price
      this.putForm.order_number=data.order_number
      this.putForm.pay_status=data.pay_status
      this.dialogVisible=true
    },
    async putOrders(){
        await putOrders(this.putForm)
        await this.getOrders()
        this.dialogVisible=false
    }
  },
  created() {
    this.getOrders();
  }
};
</script>

<style lang="scss" scoped>
.orders {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
}
</style>