<template>
  <div class="reports">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>数据统计</el-breadcrumb-item>
      <el-breadcrumb-item>数据报表</el-breadcrumb-item>
    </el-breadcrumb>
    <div id="main" style="width:80%;height:500px;margin-top:15px"></div>
  </div>
</template>

<script>
import { getReports } from "@/http/apis";
export default {
  mounted() {
    this.drawLine();
  },
  methods: {
    async drawLine() {
      let myChart = this.$echarts.init(document.getElementById("main"));
      const arr = Object.assign(await getReports(1), {
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985"
            }
          }
        }
      });

      myChart.setOption(arr);
    }
  }
};
</script>

<style lang="scss" scoped>
.reports {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
  height: 100%;
  box-sizing: border-box;
}
</style>