<template>
  <div class="users">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form :inline="true" class="demo-form-inline" style="margin-top:15px;">
      <el-form-item>
        <el-input style="width:350px" v-model="query.query">
          <el-button slot="append" icon="el-icon-search" @click="sousUser"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="dialogVisible = true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="tableData.users" border style="width: 100%">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话"></el-table-column>
      <el-table-column label="创建日期">
        <template slot-scope="scope">{{scope.row.create_time | dealDate}}</template>
      </el-table-column>
      <el-table-column label="用户状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            @click.native="clickUserState(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作" width="160">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click.native="showEditUser(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small"
            @click="handleDelete(scope.row)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="small"
            @click.native="handleDistri(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top:15px; "
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="tableData.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="8"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total"
    ></el-pagination>
    <el-dialog title="新增用户" :visible.sync="dialogVisible" width="600px">
      <el-form :model="userForm" label-width="120px" :rules="userFormRul" ref="userForm">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="userForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="userForm.password"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="userForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="userForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleAdd">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editVisible" width="600px">
      <el-form :model="editUserForm" label-width="120px" ref="userForm">
        <el-form-item label="用户名">
          <el-input v-model="editUserForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="电话">
          <el-input v-model="editUserForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="editUserForm.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleEdit">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="distriVisible" width="600px">
      <el-form :model="distriUserForm" label-width="120px" ref="userForm">
        <el-form-item label="用户名">
          <el-input v-model="distriUserForm.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="distriUserForm.rid" placeholder="请选择">
            <el-option
              v-for="item in rolesOptions"
              :key="item.id"
              :label="item.roleName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="distriVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleRoles">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getUsers,
  addUsers,
  updateUserState,
  editUsers,
  deleteUsers,
  getUsersInfo,
  getRolesList,
  distriRoles
} from "@/http/apis.js";
export default {
  data() {
    return {
      tableData: [],
      query: {
        query: "",
        pagenum: "1",
        pagesize: 8
      },
      dialogVisible: false,
      userForm: {
        username: "",
        password: "",
        mobile: "",
        email: ""
      },
      editVisible: false,
      editUserForm: {
        username: "",
        mobile: "",
        email: "",
        id: ""
      },
      distriVisible: false,
      distriUserForm: {
        username: "",
        id: "",
        rid: ""
      },
      userFormRul: {
        username: [
          {
            required: true,
            message: "请输入用户名"
          }
        ],
        password: [
          {
            required: true,
            message: "请输入密码"
          }
        ]
      },
      rolesOptions:[]
    };
  },
  methods: {
    //获取用户列表，刷新列表
    async getUser() {
      await getUsers(this.query).then(res => {
        this.tableData = res;
      });
    },
    sousUser() {
      this.getUser();
      // this.query.query=""
    },
    handleSizeChange(val) {
      this.query.pagesize = val;
      this.getUser();
    },
    handleCurrentChange(val) {
      this.query.pagenum = val;
      this.getUser();
    },
    async addUsers(data) {
      return await addUsers(data);
    },
    handleAdd() {
      this.$refs.userForm.validate(async valid => {
        if (valid) {
          await this.addUsers(this.userForm);
          this.dialogVisible = false;
          this.getUser();
          this.userForm = {
            username: "",
            password: "",
            mobile: "",
            email: ""
          };
        } else {
          return false;
        }
      });
    },
    //修改用户状态
    async updateUserState(data) {
      await updateUserState(data);
    },
    async clickUserState(data) {
      await this.updateUserState({
        uid: data.id,
        type: data.mg_state
      });
      await this.getUser();
    },
    //编辑用户操作
    showEditUser(data) {
      this.editVisible = true;
      this.editUserForm = {
        username: data.username,
        mobile: data.mobile,
        email: data.email,
        id: data.id
      };
    },
    async editUsers(data) {
      await editUsers(data);
      await this.getUser();
    },
    handleEdit() {
      this.editUsers(this.editUserForm);
      this.editVisible = false;
    },
    //删除用户
    async deleteUsers(id) {
      await deleteUsers(id);
      await this.getUser();
    },
    handleDelete(data) {
      this.$confirm("是否永久删除该用户?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteUsers(data.id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //分配角色
    handleDistri(data) {
      this.getRolesList()
      this.distriVisible = true;
      const { username, id } = data;
      this.distriUserForm = Object.assign(this.distriUserForm, {
        username,
        id
      });
      this.getUsersInfo(this.distriUserForm.id);
    },
    //查询用户信息
    async getUsersInfo(id) {
      const {rid}= await getUsersInfo(id);
      this.distriUserForm = Object.assign(this.distriUserForm, {
        rid
      });
    },
    //获取角色列表
    async getRolesList(){
      const data=await getRolesList()
      this.rolesOptions=data
    },
    //设置角色
    async distriRoles(id,rid){
      await distriRoles(id,rid)
      await this.getUser()
    },
    handleRoles(){
      this.distriVisible = false;
      this.distriRoles(this.distriUserForm.id,this.distriUserForm.rid)
    }
  },
  created() {
    getUsers(this.query).then(res => {
      this.tableData = res;
    });
  }
};
</script>

<style lang="scss">
.users {
  background: #fff;
  padding: 15px;
  margin: -5px;
  border-radius: 5px;
}
</style>